body {
    background-color: grey;
    font-size: medium;
    width: auto;
    height: auto;
    display: flex;
}

nav{
    height: 50px;
    width: auto;
    justify-content: space-between;
    display: inline;
    text-align: center;
    align-items: center;
}

main{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
}